@import url("https://fonts.googleapis.com/css?family=Quattrocento+Sans");

body {
  font-family: "Quattrocento Sans", sans-serif;
  font-size: 1em;
  line-height: 1.4em;
  color: #333;
}

.app {
  display: flex;
  justify-content: center;
}

.content {
  padding: 0 20px;
  width: 560px;
}

.react-photo-gallery--gallery img {
  filter: grayscale(0.8);
  transition: 0.3s filter linear;
}
.react-photo-gallery--gallery img:hover {
  filter: grayscale(0);
}

h1 {
  font-size: 3em;
}

hr {
  margin: 1em 0;
  border: 0;
}
